@import 'variables';
@import 'mixins';

body {
  font-size: 11px;
  letter-spacing: 3px;
  font-weight: bold;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "RobotoRegular", sans-serif;
  overflow-x: hidden;
  color: white;
  text-align: center;
  vertical-align: bottom;
}

.hidden {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  margin: 0 0 50px 0;
  height: 700px;
  width: 100%;
  padding: 40px;
  ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0 200px 0 160px;
    li {
      margin: 0 10px 0 10px;
    }
  }
  .square {
    @include square($hover, white);
  }
  #logo {
    margin-top: 200px;
    max-width: 500px;
  }
}

div.text-block {
  @include text-decor($h-text, 16px, 100);
  .square {
    @include square($h-text+30, $h-text)
  }
}

//ALWAYS END
@import 'media';