body {
  font-size: 11px;
  letter-spacing: 3px;
  font-weight: bold;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "RobotoRegular", sans-serif;
  overflow-x: hidden;
  color: white;
  text-align: center;
  vertical-align: bottom; }

.hidden {
  display: none; }

header {
  display: flex;
  flex-direction: row;
  margin: 0 0 50px 0;
  height: 700px;
  width: 100%;
  padding: 40px; }
  header ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0 200px 0 160px; }
    header ul li {
      margin: 0 10px 0 10px; }
  header .square {
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    cursor: pointer; }
    header .square:hover {
      color: #d1cfcd;
      text-decoration: none;
      border: 1px solid #d1cfcd;
      transition: 1s; }
  header #logo {
    margin-top: 200px;
    max-width: 500px; }

div.text-block {
  color: #ff7c5e;
  font-size: 16px;
  font-weight: 100; }
  div.text-block .square {
    border: 1px solid #ff7c5e;
    padding: 10px 20px;
    color: #ff7c5e;
    cursor: pointer; }
    div.text-block .square:hover {
      color: #ff9a7c;
      text-decoration: none;
      border: 1px solid #ff9a7c;
      transition: 1s; }
